<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>aula06</title>
        <link rel="shortcut icon" href="typescript.png" type="image/x-icon">
    </head>
    <body>
        <h1>Aula 06 de TypeScript</h1>
        <div class="input-box">
            <p class="label">E-mail:</p>
            <email-input></email-input>
        </div>

        <div class="input-box">
            <p class="label">Senha:</p>
            <password-input></password-input>
        </div>

        <div class="input-box">
            <p class="label">Nome:</p>
            <name-input></name-input>
        </div>

        <div class="buttons">
            <button id="post-btn">POST /accounts/</button>
            <button id="login-btn">POST /accounts/login</button>
            <button id="patch-btn">PATCH /accounts/</button>
        </div>
    </body>
</html>